
<div class="side-bar">
  <div class="social-media">
      <a href="https://github.com/ChaseWilcoxen">
          <i class="fa fa-github" ></i>
      </a>
      <a href="https://www.linkedin.com/in/chasewilcoxen/">
          <i class="fa fa-linkedin"></i>
      </a>
      <a href="http://planofishing.s3-website.us-east-2.amazonaws.com/">
          <i class="fa fa-amazon"></i>
      </a>
  </div>
</div>
<div>
  <h3>Stock Checker</h3>
  <app-stock-price></app-stock-price>
  <h3>Weather</h3>
  <app-weather></app-weather>
  <h3>Top Movies Right now</h3>
  <app-home></app-home>
  <div *ngIf="(isMobile | async)?.matches">
      <app-header></app-header>

    <router-outlet></router-outlet>

  </div>
</div>
<div *ngIf="!(isMobile | async)?.matches">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>


